<h1>FRAKCIJA 1995. - 2015.</h1>
<p><em>scroll down for English</em></p>
<hr>
<p>Pod sljedećom poveznicom možete naći sistematiziranu bibliografiju časopisa za izvedbene umjetnosti Frakcija:</p>
<p><a href="https://docs.google.com/spreadsheets/d/1T-XfmnMiNEphFkN6b21AtXlyuRYhbxDXNDp0VTH6lRI/edit?usp=sharing">https://docs.google.com/spreadsheets/d/1T-XfmnMiNEphFkN6b21AtXlyuRYhbxDXNDp0VTH6lRI/edit?usp=sharing</a></p>
<p>Ako radije želite skinuti tablicu, kliknite <a href="/FRAKCIJA_1995-2015_bibliografija_bibliography.xlsx">ovdje</a>.</p>
<p>Bibliografija je u obliku tablice, s nekoliko kartica (tabova):</p>
<ul>
<li>temati (kronološki, uz godinu, jezik temata, imena urednika temata);</li>
<li>urednici;</li>
<li>članci (prema prezimenu autora, uz broj temata i broj stranice, odvojeno za hrvatski i engleski prijevod članka);</li>
<li>intervjui (prema prezimenu intervjuirane osobe, uz naslov i ime osobe koja je vodila razgovor, odvojeno za hrvatski i engleski prijevod članka);</li>
<li>info prilozi (prilozi uredništva iz ranijih godina časopisa).</li>
</ul>
<p>Bibliografiju možete preuzeti, kopirati ili ispisati. Također i dalje dijeliti putem poveznice.</p>
<p>Unutar svake kartice redove podataka možete sortirati prema npr. imenu autora ili broju izdanja (izbornik: Data).</p>
<p>Sve kartice možete pretraživati koristeći Ctrl+F na Windows i Linux operativnim sistemima ili Command+F na Mac računalima.</p>
<hr>
<p>This link below will take you to the systematized bibliography of Frakcija Performing Arts Journal:</p>
<p><a href="https://docs.google.com/spreadsheets/d/1T-XfmnMiNEphFkN6b21AtXlyuRYhbxDXNDp0VTH6lRI/edit?usp=sharing">https://docs.google.com/spreadsheets/d/1T-XfmnMiNEphFkN6b21AtXlyuRYhbxDXNDp0VTH6lRI/edit?usp=sharing</a></p>
<p>If you rather wish to download the spreadsheet, click <a href="/FRAKCIJA_1995-2015_bibliografija_bibliography.xlsx">here</a>.</p>
<p>The bibliography is in spreadsheet format, with several tabs:</p>
<ul>
<li>thematic issues (chronological, with year, language, name of issue editors);</li>
<li>editors;</li>
<li>articles (by last name of author, with issue number and page number, separated for Croatian and English translations);</li>
<li>interviews (by last name of interviewee, with name of interviewer, separated for Croatian and English translations);</li>
<li>info articles (editors’ contributions in the early years of the journal).</li>
</ul>
<p>You can download, copy or print the bibliography. Or share it further.</p>
<p>You can sort the rows within each tab by, for example, name of author or number of issue (menu: Data).</p>
<p>You can search for a key word or phrase using Ctrl+F on Windows and Linux operating systems or Command+F on Mac computers.</p>