<hr>
<p><img alt="Frakcija 1" height="250px" src="/images/Frakcija_01.jpg">
<a href="https://archive.org/details/Frakcija_01">Frakcija 1</a>
<br>(1995/96)
<br><br></p>
<hr>
<p><img alt="Frakcija 2" height="250px" src="/images/Frakcija_02.jpg">
<a href="https://archive.org/details/Frakcija_02">Frakcija 2</a>
<br>Eurokaz - deset godina
<br>10 years of Eurokaz, the international festival of new theatre
<br>(1996)
<br><br></p>
<hr>
<p><img alt="Frakcija 3" height="250px" src="/images/Frakcija_03.jpg">
<a href="https://archive.org/details/Frakcija_03">Frakcija 3</a>
<br>Alternative; Artaud - 100 godina
<br>Alternatives; Artaud - 100 years
<br>(1997)
<br><br></p>
<hr>
<p><img alt="Frakcija 4" height="250px" src="/images/Frakcija_04.jpg">
<a href="https://archive.org/details/Frakcija_04">Frakcija 4</a>
<br>Tijelo - tehnologija
<br>Body - Technology
<br>(1997)
<br><br></p>
<hr>
<p><img alt="Frakcija 5" height="250px" src="/images/Frakcija_05.jpg">
<a href="https://archive.org/details/Frakcija_05_">Frakcija 5</a>
<br>Što možemo činiti riječima
<br>What can we do with words
<br>(1997)
<br><br></p>
<hr>
<p><img alt="Frakcija 6/7" height="250px" src="/images/Frakcija_06_07.jpg">
<a href="https://archive.org/details/Frakcija_06_07">Frakcija 6/7</a>
<br>Političnost 90ih; Brecht - 100 godina; Ruski akcionizam
<br>Politics of the nineties; Brecht - 100 years; Russian Actionism
<br>(1998)
<br><br></p>
<hr>
<p><img alt="Frakcija 8" height="250px" src="/images/Frakcija_08.jpg">
<a href="https://archive.org/details/Frakcija_08">Frakcija 8</a>
<br>O festivalima; 15 godina Tjedna suvremenog plesa; Brecht - 100 godina II.
<br>On festivals; 15 years of Dance Week Festival; Brecht - 100 years II
<br>(1998)
<br><br></p>
<hr>
<p><img alt="Frakcija 9" height="250px" src="/images/Frakcija_09.jpg">
<a href="https://archive.org/details/Frakcija_09">Frakcija 9</a>
<br>Utopija - distopija
<br>Utopia - Dystopia
<br>(1998)
<br><br></p>
<hr>
<p><img alt="Frakcija 10/11" height="250px" src="/images/Frakcija_10_11.jpg">
<a href="https://archive.org/details/Frakcija_10_11">Frakcija 10/11</a>
<br>Camillo - teatar memorije
<br>Camillo - Theatre of Memory
<br>(1999)
<br><br></p>
<hr>
<p><img alt="Frakcija 12/13" height="250px" src="/images/Frakcija_12_13.jpg">
<a href="https://archive.org/details/Frakcija_12_13">Frakcija 12/13</a>
<br>O(ko) seksualnosti; Judith Butler; Ikonoklazam
<br>On (the eye) of sexuality; Judith Butler; Iconoclasm
<br>(1999)
<br><br></p>
<hr>
<p><img alt="Frakcija 14" height="250px" src="/images/Frakcija_14.jpg">
<a href="https://archive.org/details/Frakcija_14">Frakcija 14</a>
<br>disOrijentacija: Istočna Europa
<br>disOrientation: Eastern Europe
<br>(1999)
<br><br></p>
<hr>
<p><img alt="Frakcija 15" height="250px" src="/images/Frakcija_15.jpg">
<a href="https://archive.org/details/Frakcija_15">Frakcija 15</a>
<br>Uznemirujuće slike - ometanje slike: Chapterova sezona ikonoklastičkog kazališta
<br>Disturbing (the) image: Chapter Season of Iconoclastic Theatre
<br>(1999)
<br><br></p>
<hr>
<p><img alt="Frakcija 16" height="250px" src="/images/Frakcija_16.jpg">
<a href="https://archive.org/details/Frakcija_16">Frakcija 16</a>
<br>90e - argumenti za budućnost
<br>90s - arguments for the future
<br>(2000)
<br><br></p>
<hr>
<p><img alt="Frakcija 17/18" height="250px" src="/images/Frakcija_17_18.jpg">
<a href="https://archive.org/details/Frakcija_17_18">Frakcija 17/18</a>
<br>2000. - Kulturna politika: prva petoljetka; Eugenio Barba
<br>2000 - Cultural politics: first five years; Eugenio Barba
<br>(2000)
<br><br></p>
<hr>
<p><img alt="FAMA" height="250px" src="/images/FAMA.jpg">
<a href="https://archive.org/details/Frakcija_FAMA">FAMA</a>
<br>Tijelo - Razlika
<br>Body - Difference
<br>(2000)
<br><br></p>
<hr>
<p><img alt="Frakcija 19" height="250px" src="/images/Frakcija_19.jpg">
<a href="https://archive.org/details/Frakcija_19">Frakcija 19</a>
<br>Energija
<br>Energy
<br>(2001)
<br><br></p>
<hr>
<p><img alt="Frakcija 20/21" height="250px" src="/images/Frakcija_20_21.jpg">
<a href="https://archive.org/details/Frakcija_20_21">Frakcija 20/21</a>
<br>Glumac i/kao autor
<br>Actor as/and Author
<br>(2001)
<br><br></p>
<hr>
<p><img alt="Frakcija 22/23" height="250px" src="/images/Frakcija_22_23.jpg">
<a href="https://archive.org/details/Frakcija_22_23">Frakcija 22/23</a>
<br>Radikalizmi Istočne Europe
<br>Radicalisms of Eastern Europe
<br>(2001/02)
<br><br></p>
<hr>
<p><img alt="Frakcija 24/25" height="250px" src="/images/Frakcija_24_25.jpg">
<a href="https://archive.org/details/Frakcija_24_25">Frakcija 24/25</a>
<br>Spontanitet – događajnost – improvizacija
<br>Spontaneity – Eventality – Improvisation
<br>(2002)
<br><br></p>
<hr>
<p><img alt="Frakcija 26/27" height="250px" src="/images/Frakcija_26_27.jpg">
<a href="https://archive.org/details/Frakcija_26_27">Frakcija 26/27</a>
<br>(2002/03)
<br><br></p>
<hr>
<p><img alt="Frakcija 28/29" height="250px" src="/images/Frakcija_28_29.jpg">
<a href="https://archive.org/details/Frakcija_28_29">Frakcija 28/29</a>
<br>Nejasno nepostojano nerazumljivo
<br>Vague Volatile Incomprehensible
<br>(2003)
<br><br></p>
<hr>
<p><img alt="Frakcija 30/31" height="250px" src="/images/Frakcija_30_31.jpg">
<a href="https://archive.org/details/Frakcija_30_31">Frakcija 30/31</a>
<br>Proizvodnja zajedničkog
<br>Production of the Common
<br>(2003)
<br><br></p>
<hr>
<p><img alt="Frakcija 32/35" height="250px" src="/images/Frakcija_32_35.jpg">
<a href="https://archive.org/details/Frakcija_32_35">Frakcija 32/35</a>
<br>Goat Island "When will the september..." PRVI DIO Refleksije procesa
<br>Goat Island's "When will the september roses bloom? Last night was only a comedy" PART ONE, Reflections on the Process
<br>(2004)
<br><br></p>
<hr>
<p><img alt="Frakcija 33/34" height="250px" src="/images/Frakcija_33_34.jpg">
<a href="https://archive.org/details/Frakcija_33_34">Frakcija 33/34</a>
<br>Save as city.doc
<br>(2004)
<br><br></p>
<hr>
<p><img alt="Frakcija 36" height="250px" src="/images/Frakcija_36.jpg">
<a href="https://archive.org/details/Frakcija_36">Frakcija 36</a>
<br>Grupne Dinamike
<br>Group Dynamics
<br>(2005)
<br><br></p>
<hr>
<p><img alt="Frakcija - Maska - Performance Research" height="250px" src="/images/Performance_research_10_02.jpg">
<a href="http://www.performance-research.org/past-issue-detail.php?issue_id=32">Frakcija - Maska - Performance Research</a>
<br>On Form - Yet to Come
<br>(2005)
<br><br></p>
<hr>
<p><img alt="Frakcija 37/38" height="250px" src="/images/Frakcija_37_38.jpg">
<a href="https://archive.org/details/Frakcija_37_38">Frakcija 37/38</a>
<br>Retorika
<br>Rhetoric
<br>(2005/6)
<br><br></p>
<hr>
<p><img alt="Frakcija 39/40" height="250px" src="/images/Frakcija_39_40.jpg">
<a href="https://archive.org/details/Frakcija_39_40">Frakcija 39/40</a>
<br>Rad, virtuoznost i institucije
<br>On Labor, Virtuosity and Institutions
<br>(2006)
<br><br></p>
<hr>
<p><img alt="Frakcija 41" height="250px" src="/images/Frakcija_41.jpg">
<a href="https://archive.org/details/Frakcija_41">Frakcija 41</a>
<br>Autoceste znanja
<br>Highways of Knowledge
<br>(2006)
<br><br></p>
<hr>
<p><img alt="Frakcija 42" height="250px" src="/images/Frakcija_42.jpg">
<a href="https://archive.org/details/Frakcija_42">Frakcija 42</a>
<br>Političke rekonstrukcije života
<br>Political Reconstructions of Life
<br>(2007)
<br><br></p>
<hr>
<p><img alt="Frakcija 43/44" height="250px" src="/images/Frakcija_43_44.jpg">
<a href="https://archive.org/details/Frakcija_43_44">Frakcija 43/44</a>
<br>Stalno u oku kamere
<br>Constant Capture
<br>(2007)
<br><br></p>
<hr>
<p><img alt="Frakcija 45/46" height="250px" src="/images/Frakcija_45_46.jpg">
<a href="https://archive.org/details/Frakcija_45_46">Frakcija 45/46</a>
<br>Tranzistor
<br>(2007/08)
<br><br></p>
<hr>
<p><img alt="Frakcija 47/48" height="250px" src="/images/Frakcija_47_48.jpg">
<a href="https://archive.org/details/Frakcija_47_48">Frakcija 47/48</a>
<br>Koreografija, tangencionalno
<br>Circumscribing Choreography
<br>(2008)
<br><br></p>
<hr>
<p><img alt="Frakcija 49" height="250px" src="/images/Frakcija_49.jpg">
<a href="https://archive.org/details/Frakcija_49">Frakcija 49</a>
<br>(2008)
<br><br></p>
<hr>
<p><img alt="Frakcija 50" height="250px" src="/images/Frakcija_50.jpg">
<a href="https://archive.org/details/Frakcija_50">Frakcija 50</a>
<br>PSi#15SHIFTS
<br>(2009)
<br><br></p>
<hr>
<p><img alt="Frakcija 51/52" height="250px" src="/images/Frakcija_51_52.jpg">
<a href="https://archive.org/details/Frakcija_51_52">Frakcija 51/52</a>
<br>Što afirmirati? Što izvoditi?
<br>What to Affirm? What to Perform?
<br>(2009)
<br><br></p>
<hr>
<p><img alt="Frakcija 53/54" height="250px" src="/images/Frakcija_53_54.jpg">
<a href="https://archive.org/details/Frakcija_53_54">Frakcija 53/54</a>
<br>Process:Music
<br>(2009/10)
<br><br></p>
<hr>
<p><img alt="Frakcija 55" height="250px" src="/images/Frakcija_55.jpg">
<a href="https://archive.org/details/Frakcija_55">Frakcija 55</a>
<br>Curating Performing Arts
<br>(2010)
<br><br></p>
<hr>
<p><img alt="Frakcija 56/57" height="250px" src="/images/Frakcija_56_57.jpg">
<a href="https://archive.org/details/Frakcija_56_57">Frakcija 56/57</a>
<br>Dramsko pismo 00
<br>Playwriting 00
<br>(2010)
<br><br></p>
<hr>
<p><img alt="Frakcija 58/59" height="250px" src="/images/Frakcija_58_59.jpg">
<a href="https://archive.org/details/Frakcija_58_59">Frakcija 58/59</a>
<br>to be moved
<br>(2011)
<br><br></p>
<hr>
<p><img alt="Frakcija 60/61" height="250px" src="/images/Frakcija_60_61.jpg">
<a href="https://archive.org/details/Frakcija_60_61">Frakcija 60/61</a>
<br>Umjetnički rad u doba štednje
<br>Artistic Labor in the Age of Austerity
<br>(2011)
<br><br></p>
<hr>
<p><img alt="Frakcija 62/63" height="250px" src="/images/Frakcija_62_63.jpg">
<a href="https://archive.org/details/Frakcija_62_63">Frakcija 62/63</a>
<br>Actionable Image: Agency of Image, Performance of Body, Apparatus of Spectating
<br>(2012)
<br><br></p>
<hr>
<p><img alt="Frakcija 64/65" height="250px" src="/images/Frakcija_64_65.jpg">
<a href="https://archive.org/details/Frakcija_64_65">Frakcija 64/65</a>
<br>The Art of the Concept
<br>(2012)
<br><br></p>
<hr>
<p><img alt="Frakcija 66/67" height="250px" src="/images/Frakcija_66_67.jpg">
<a href="https://archive.org/details/Frakcija_66_67">Frakcija 66/67</a>
<br>Imunitet umjetnosti
<br>The Immunity of Art
<br>(2013)
<br><br></p>
<hr>
<p><img alt="Frakcija 68/69" height="250px" src="/images/Frakcija_68_69.jpg">
<a href="https://archive.org/details/Frakcija_68_69">Frakcija 68/69</a>
<br>Umjetnost i novac
<br>Art and Money
<br>(2013)
<br><br></p>
<hr>
<p><img alt="Frakcija 70/71" height="250px" src="/images/Frakcija_70_71.jpg">
<a href="https://archive.org/details/Frakcija_70_71">Frakcija 70/71</a>
<br>Znanje drugim sredstvima
<br>Knowledge by other means
<br>(2014/15)
<br><br></p>